:root {
    // ---------- COLOURS
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-150: 0 0% 98%;
    --clr-neutral-400: 0 0% 59%;
    --clr-neutral-500: 271 5% 51%;
    --clr-neutral-800: 271 9% 17%;
    --clr-primary: 256 26% 20%;
    --clr-accent: 215 30% 68%;

    // ---------- FONTS
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 0.8125rem; // 13px
    --fs-200: 1rem; // 16px
    --fs-300: 1.25rem; // 20px
    --fs-400: 1.75rem; // 28px
    --fs-500: 2.5rem; // 40px
    --fs-600: 3rem; // 48px

    --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif;
    --ff-serif: Georgia, 'Times New Roman', Times, serif;
    --ff-karla: 'Karla', var(--ff-sans-serif);
    --ff-dm-serif-display: 'DM Serif Display', var(--ff-serif);

    // ---------- BOILERPLATE

    // ----- Copy
    --copy-clr: hsl(var(--clr-neutral-500));
    --copy-fw: var(--fw-regular);
    --copy-fs: var(--fs-200);
    --copy-ff: var(--ff-karla);
    --copy-font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
    --copy-leading: 1.625em;

    // ----- Links
    --link-transition: color 200ms ease-in-out, background 200ms ease-in-out;
    --link-clr: var(--copy-clr);
    --link-clr-active: hsl(var(--clr-neutral-800));
    --link-decoration: none;
    --link-decoration-active: none;
    --link-outline: 2px solid hsl(213 94% 68%);
    --link-outline-offset: 3px;
    --link-outline-radius: 2px;

    // ----- Heading
    --heading-fw: inherit;
    --heading-ff: inherit;

    // ---------- UTILITIES

    // ----- Container
    --container-max-width: 21.375rem;
    --container-padding-inline: 0.25rem;

    // ---------- COMPONENTS

    // ----- Buttons
    --btn-padding: 0.75rem 1.75rem;
    --btn-radius: 0;
    --btn-border: 1px solid transparent;
    --btn-font: var(--fw-bold) var(--fs-100) var(--ff-karla);
    --btn-tracking: 1.5px;
    --btn-case: uppercase;

    --btn-on-dark-border-clr: hsl(var(--clr-neutral-100));
    --btn-on-dark-bg-active: hsl(var(--clr-neutral-100));
    --btn-on-dark-clr: hsl(var(--clr-neutral-100));
    --btn-on-dark-clr-active: hsl(var(--clr-neutral-800));

    // ---------- LAYOUT

    // ----- Header
    --header-padding-block: 1.5rem;
    --header-menu-pos-top: 4rem;

    // ---------- MEDIA QUERIES

    // ----- 768px
    @media (min-width: 48em) {
        --container-max-width: 43rem;

        --header-padding-block: 2rem;
    }

    // ----- 1440px
    @media (min-width: 90em) {
        --fs-500: 3.5rem; // 56px
        --fs-600: 4.5rem; // 72px

        --container-max-width: 69.375rem;
        --container-padding-inline: 0.5rem;
    }
}
