:root {
    // ---------- COLOURS
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-150: 0 0% 98%;
    --clr-neutral-400: 0 0% 59%;
    --clr-neutral-500: 271 5% 51%;
    --clr-neutral-800: 271 9% 17%;
    --clr-primary: 256 26% 20%;
    --clr-accent: 215 30% 68%;

    // ---------- FONTS
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-100: 0.8125rem; // 13px
    --fs-200: 1rem; // 16px
    --fs-300: 1.25rem; // 20px
    --fs-400: 1.75rem; // 28px
    --fs-500: 2.5rem; // 40px
    --fs-600: 3rem; // 48px

    --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif;
    --ff-serif: Georgia, 'Times New Roman', Times, serif;
    --ff-karla: 'Karla', var(--ff-sans-serif);
    --ff-dm-serif-display: 'DM Serif Display', var(--ff-serif);

    // ---------- BOILERPLATE

    // ----- Copy
    --copy-clr: hsl(var(--clr-neutral-500));
    --copy-fw: var(--fw-regular);
    --copy-fs: var(--fs-200);
    --copy-ff: var(--ff-karla);
    --copy-font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
    --copy-leading: 1.625em;

    // ----- Links
    --link-transition: color 200ms ease-in-out, background 200ms ease-in-out;
    --link-clr: var(--copy-clr);
    --link-clr-active: hsl(var(--clr-neutral-800));
    --link-decoration: none;
    --link-decoration-active: none;
    --link-outline: 2px solid hsl(213 94% 68%);
    --link-outline-offset: 3px;
    --link-outline-radius: 2px;

    // ----- Heading
    --heading-fw: var(--fw-regular);
    --heading-ff: var(--ff-dm-serif-display);

    // ----- Horizontal Rule
    --hr-border: 1px solid inherit;

    // ---------- UTILITIES

    // ----- Container
    --container-max-width: 21.375rem;
    --container-padding-inline: 0.25rem;

    // ---------- COMPONENTS

    // ----- Buttons
    --btn-padding: 0.75rem 1.75rem;
    --btn-radius: 0;
    --btn-border: 2px solid transparent;
    --btn-font: var(--fw-bold) var(--fs-100) var(--ff-karla);
    --btn-tracking: 1.5px;
    --btn-case: uppercase;

    --btn-on-dark-border-clr: hsl(var(--clr-neutral-100));
    --btn-on-dark-bg-active: hsl(var(--clr-neutral-100));
    --btn-on-dark-clr: hsl(var(--clr-neutral-100));
    --btn-on-dark-clr-active: hsl(var(--clr-neutral-800));

    --btn-on-light-border-clr: hsl(var(--clr-neutral-800));
    --btn-on-light-bg-active: hsl(var(--clr-neutral-800));
    --btn-on-light-clr: hsl(var(--clr-neutral-800));
    --btn-on-light-clr-active: hsl(var(--clr-neutral-100));

    // ----- Hero
    --hero-bg: hsl(var(--clr-primary));
    --hero-clr: hsl(var(--clr-neutral-100));
    --hero-hr-width: 9.375rem;
    --hero-hr-border: 1px solid hsl(var(--clr-neutral-100));

    --hero-bg-img-left-width: 10.625rem;
    --hero-bg-img-left-height: 10.25rem;
    --hero-bg-img-left-url: url('../assets/images/bg-pattern-intro-left-mobile.svg');

    --hero-bg-img-right-width: 7.75rem;
    --hero-bg-img-right-height: 54.75rem;
    --hero-bg-img-right-url: url('../assets/images/bg-pattern-intro-right-mobile.svg');

    --hero-heading-fs: var(--fs-600);
    --hero-heading-tracking: -0.67px;
    --hero-heading-leading: 1;

    --hero-content-gap: 2rem;
    --hero-content-max-width: 20.4375rem;
    --hero-content-padding: 5.8125rem 0;
    --hero-content-text-align: center;

    // ----- Call to Action
    --cta-bg: hsl(var(--clr-primary));
    --cta-clr: hsl(var(--clr-neutral-100));
    --cta-bg-img-pos-top: 0;
    --cta-bg-img-pos-right: -0.15rem;
    --cta-bg-img-width: 11.125rem;
    --cta-bg-img-height: 19.6875rem;
    --cta-bg-img-url: url('../assets/images/bg-pattern-how-we-work-mobile.svg');

    --cta-content-gap: 2.5rem;
    --cta-content-max-width: 17.4375rem;
    --cta-content-padding: 4.5rem 1.5rem;
    --cta-content-text-align: center;

    --cta-heading-fs: var(--fs-500);
    --cta-heading-tracking: var(-0.56px);
    --cta-heading-leading: 1;

    // ---------- LAYOUT

    // ----- Header
    --header-padding-block: 1.5rem;

    --header-branding-opacity: 1;
    --header-branding-opacity-active: 0.5;
    --header-branding-transition: opacity 200ms ease-in-out;

    --header-menu-pos-top: 4.975rem;
    --header-menu-gap: 2.125rem;
    --header-menu-padding-top: 2.5rem;
    --header-menu-items-fw: var(--fw-bold);
    --header-menu-items-fs: var(--fs-300);
    --header-menu-items-tracking: 1.36px;
    --header-menu-items-case: uppercase;

    // ----- Footer
    --footer-padding-block: 5.5rem;
    --footer-margin-top: 8.75rem;
    --footer-bg: hsl(var(--clr-neutral-150));
    --footer-bg-img-width: 100%;
    --footer-bg-img-height: 11rem;
    --footer-bg-img-url: url('../assets/images/bg-pattern-footer-mobile.svg');

    --footer-hr-margin-block: 2.5rem;
    --footer-hr-border-top: 1px solid hsl(0 0% 86%);

    --footer-socials-gap: 1rem;
    --footer-socials-margin-top: 2.125rem;
    --footer-socials-transition: 200ms ease-in-out fill;
    --footer-socials-fill: hsl(var(--clr-neutral-500));
    --footer-socials-fill-active: hsl(var(--clr-neutral-800));

    --footer-links-gap: 2.5rem;
    --footer-links-fw: var(--fw-bold);
    --footer-links-fs: var(--fs-100);
    --footer-links-tracking: 1.5px;
    --footer-links-text-align: center;
    --footer-links-case: uppercase;
    --footer-links-link-clr: hsl(var(--clr-neutral-800));
    --footer-links-link-decoration: none;
    --footer-links-link-decoration-active: underline;

    --footer-attribution-margin-top: 3rem;
    --footer-attribution-clr: hsl(var(--clr-neutral-500) / 0.75);
    --footer-attribution-fs: var(--fs-200);
    --footer-attribution-text-align: center;
    --footer-attribution-link-clr: inherit;
    --footer-attribution-link-clr-active: hsl(var(--clr-neutral-800));

    // ---------- PAGES

    // ----- Home

    // --- Features
    --features-padding-block: 8.75rem;
    --features-text-align: center;

    --features-hr-width: 9.375rem;
    --features-hr-border-top: 1px solid hsl(296 30% 68%);

    --features-heading-margin-top: 2.5rem;
    --features-heading-clr: hsl(var(--clr-neutral-800));
    --features-heading-fs: var(--fs-600);
    --features-heading-tracking: -0.67px;

    --features-grid-cols: 1;
    --features-grid-cols-gap: 3.5rem;
    --features-grid-margin-top: 5rem;

    --features-item-heading-margin-top: 2rem;
    --features-item-heading-fs: var(--fs-400);
    --features-item-heading-tracking: -0.39px;
    --features-item-content-margin-top: 1rem;

    // ---------- MEDIA QUERIES

    // < 768px
    @media (max-width: 47.98em) {
        --header-menu-pattern-pos-bottom: 5rem;
        --header-menu-pattern-width: 20.75rem;
        --header-menu-pattern-url: url('../assets/images/bg-pattern-mobile-nav.svg');

        --header-menu-items-clr: hsl(var(--clr-neutral-100));
        --header-menu-items-btn-width: 80vw;
        --header-menu-items-btn-border-clr: hsl(var(--clr-neutral-100));
    }

    // ----- 768px
    @media (min-width: 48em) {
        --container-max-width: 43rem;

        --header-padding-block: 2rem;
        --header-menu-gap: 1.625rem;
        --header-menu-padding-top: 0;
        --header-menu-items-fs: var(--fs-100);
        --header-menu-items-tracking: 1.5px;

        --hero-img-pos-top: 4rem;
        --hero-content-max-width: 25rem;
        --hero-content-padding: 5.8125rem 2rem;
        --hero-content-text-align: left;
        --hero-bg-img-left-width: 12.125rem;
        --hero-bg-img-left-height: 31.25rem;
        --hero-bg-img-left-url: url('../assets/images/bg-pattern-intro-left-desktop.svg');
        --hero-bg-img-right-width: 27.125rem;
        --hero-bg-img-right-height: 54.75rem;
        --hero-bg-img-right-url: url('../assets/images/bg-pattern-intro-right-desktop.svg');

        --cta-bg-img-pos-top: 0;
        --cta-bg-img-pos-right: 0;
        --cta-bg-img-width: 24.25rem;
        --cta-bg-img-height: 15.625rem;
        --cta-bg-img-url: url('../assets/images/bg-pattern-how-we-work-desktop.svg');
        --cta-content-gap: 1rem;
        --cta-content-max-width: 100%;
        --cta-content-text-align: left;

        --footer-bg-img-width: 33.0625rem;
        --footer-bg-img-height: 14.5625rem;
        --footer-bg-img-url: url('../assets/images/bg-pattern-footer-desktop.svg');
        --footer-socials-margin-top: 0;
    }

    // ----- 1440px
    @media (min-width: 90em) {
        --fs-500: 3.5rem; // 56px
        --fs-600: 4.5rem; // 72px

        --header-padding-block: 1rem;

        --container-max-width: 69.375rem;
        --container-padding-inline: 0.5rem;

        --hero-wrapper-gap: 2.125rem;
        --hero-img-pos-top: 6.5625rem;
        --hero-content-max-width: 33.5rem;
        --hero-content-padding: 5.8125rem 0;

        --features-padding-block: 19rem 9.875rem;
        --features-text-align: left;
        --features-heading-tracking: -1px;
        --features-heading-leading: 1;
        --features-grid-cols: 3;
        --features-grid-cols-gap: 1.875rem;

        --cta-bg-img-width: 27.1875rem;
        --cta-bg-img-height: 15.625rem;
        --cta-content-max-width: 59.3125rem;
        --cta-content-padding: 4.3125rem 0.5rem;
        --cta-content-text-align: left;
        --cta-heading-max-width: 29.6875rem;
        --cta-heading-tracking: -0.78px;

        --footer-links-text-align: left;
    }
}
