@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Body                            */
/* ------------------------------- */

body {
    color: var(--copy-clr);
    font-family: var(--copy-ff);
    font-size: var(--copy-fs);
}
