/* ------------------------------- */
/* Overflow                        */
/* ------------------------------- */

.overflow-hide,
.overflow-hide-y,
.overflow-hide-x {
    position: relative;
}

.overflow-hide {
    overflow: hidden;
}

.overflow-hide-y {
    overflow-y: hidden;
}

.overflow-hide-x {
    overflow-x: hidden;
}
