@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Buttons                         */
/* ------------------------------- */

.btn {
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    border: var(--btn-border);
    font: var(--btn-font);
    letter-spacing: var(--btn-tracking);
    text-transform: var(--btn-case);

    &[data-btn-style='on-dark'] {
        border-color: var(--btn-on-dark-border-clr);
        color: var(--btn-on-dark-clr);

        @include mixin.hover-focus-within {
            background-color: var(--btn-on-dark-bg-active);
            color: var(--btn-on-dark-clr-active);
        }
    }
}
