@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Call to Action                  */
/* ------------------------------- */

.cta {
    position: relative;
    background-color: var(--cta-bg);
    color: var(--cta-clr);
    z-index: 999 !important;

    &__content {
        @include mixin.flex($gap: var(--cta-content-gap));

        max-width: var(--cta-content-max-width);
        padding: var(--cta-content-padding);
        margin-inline: auto;
        text-align: var(--cta-content-text-align);

        .heading {
            max-width: var(--cta-heading-max-width);
            font-size: var(--cta-heading-fs);
            letter-spacing: var(--cta-heading-tracking);
            line-height: var(--cta-heading-leading);
            z-index: 999;
        }

        .btn {
            z-index: 999;
        }
    }

    &::after {
        @include mixin.bg-img(
            $bg-url: var(--cta-bg-img-url),
            $bg-size: contain
        );
        @include mixin.size(
            $width: var(--cta-bg-img-width),
            $height: var(--cta-bg-img-height)
        );
        @include mixin.pos-absolute(
            $pos-top: var(--cta-bg-img-pos-top),
            $pos-right: var(--cta-bg-img-pos-right)
        );

        content: '';
    }
}

@media (min-width: 48em) {
    .cta {
        &__content {
            flex-direction: row;
        }
    }
}

@media (min-width: 90em) {
    .cta {
        &__content {
            .heading {
                margin-right: auto;
            }
        }
    }
}
