@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Hero                            */
/* ------------------------------- */

.hero {
    background-color: var(--hero-bg);
    color: var(--hero-clr);

    hr {
        border-top: var(--hero-hr-border);
        display: none;
    }

    .heading {
        z-index: 999;
        font-size: var(--hero-heading-fs);
        letter-spacing: var(--hero-heading-tracking);
        line-height: var(--hero-heading-leading);
    }

    &__wrapper {
        @include mixin.flex;
    }

    &__content {
        @include mixin.flex($gap: var(--hero-content-gap));

        position: relative;
        max-width: var(--hero-content-max-width);
        padding: var(--hero-content-padding);
        text-align: var(--hero-content-text-align);

        &::before,
        &::after {
            content: '';
        }

        &::before {
            @include mixin.size(
                $width: var(--hero-bg-img-left-width),
                $height: var(--hero-bg-img-left-height)
            );
            @include mixin.bg-img($bg-url: var(--hero-bg-img-left-url));
            @include mixin.pos-absolute($pos-top: 0, $pos-left: -3.25rem);
        }
    }
}

@media (max-width: 47.98em) {
    .hero {
        &__img {
            @include mixin.size;

            img,
            picture {
                @include mixin.size;
            }
        }
    }
}

@media (min-width: 48em) {
    .hero {
        &__wrapper {
            flex-direction: row-reverse;
            gap: var(--hero-wrapper-gap);
        }

        &__img {
            position: relative;
            top: var(--hero-img-pos-top);
        }

        &__content {
            &::before {
                top: 20rem;
            }
        }

        .btn {
            margin-right: auto;
            z-index: 999;
        }
    }
}

@media (min-width: 90em) {
    .hero {
        hr {
            display: block;
            width: var(--hero-hr-width);
            margin-right: auto;
        }

        &__content {
            &::before {
                top: 20rem;
                left: -11rem;
            }
        }
    }
}
